# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


/src/test/java/com/github/shmvanhouten/addressbook/util/Password.java
/target
/src/main/resources/shmvanhouten-application.properties
