<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello ' + ${name}">
    Hello, Peter Static!
</p>

<p>Your addresses are:</p>

<table style="width:100%">
    <tr>
        <th>First name</th>
        <th>Surname</th>
        <th>Street name</th>
        <th>House number</th>
    </tr>
    <tr th:each="address : ${addresses}">
        <td th:text="${address.getFirstName()}">First name</td>
        <td th:text="${address.getSurName()}">Surname</td>
        <td th:text="${address.getStreetName()}">Street name</td>
        <td th:text="${address.getHouseNumber()}">House number</td>
    </tr>
</table>

</body>
</html>